body {
	background-color: powderblue;
	color:#4B0082;
	}
h1 {
  text-transform: uppercase;
  color:#DB7093;
  letter-spacing: 3px;
  font-weight: bold;
  text-align: center;
}
.box{
	border: solid 1px;
	padding: 10px 10px;
	background-color:#FFE4E1;;
	font-style:oblique;
	width: 200px;
	max-width: 100%;
	}
#demo {
	display: flex;
	height: 600px;
	font-size: 1.2em;
	justify-content:space-around;
	align-items: stretch;
	}
